<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@(ViewBag.Title ?? "xpi-versions")</title>
	<link rel="stylesheet" href="/css/site.css" type="text/css" />
	@if (ViewBag.FirstUrl != null) {
		<link rel="first" href="@ViewBag.FirstUrl" />
	}
	@if (ViewBag.PreviousUrl != null) {
		<link rel="prev" href="@ViewBag.PreviousUrl" />
	}
	@if (ViewBag.NextUrl != null) {
		<link rel="next" href="@ViewBag.NextUrl" />
	}
	@if (ViewBag.LastUrl != null) {
		<link rel="last" href="@ViewBag.LastUrl" />
	}
</head>
<body>
	<header>
		<h1>xpi-versions</h1>
		<div class="links">
			<form method="get" action="/search">
				<input type="search" name="q" />
				<input type="submit" value="Search" />
			</form>
		</div>
	</header>

	<div id="main">
		@RenderBody()
	</div>

	<footer>
		@if (ViewBag.PreviousUrl != null) {
			<a href="@ViewBag.PreviousUrl" class="button prev">Previous</a>
		}
		@if (ViewBag.NextUrl != null) {
			<a href="@ViewBag.NextUrl" class="button next">Next</a>
		}
		<p>
			This site uses data from addons.mozila.org, but is not affiliated
			with Mozilla.
			<br />
			Last update: November 8, 2017
			<br />
			<a href="https://github.com/IsaacSchemm/xpi-versions">View on GitHub</a>
		</p>
	</footer>
</body>
</html>