@model xpi_versions_app.Models.AddonModel

<h2>
	@Model.Addon.name Version History
</h2>

@foreach (var info in Model.Versions) {
	<div class="version" data-bind="css: { app_compatible: app_compatible, convertible: convertible }">
		<div class="buttons">
			@if (info.Addon.type == "search") {
				<a class="install button" href="#" data-bind="attr: { href: install_url }, click: addSearchProvider">
					Add to <span data-bind="text: app_name">Firefox</span>
				</a>
				<a class="download button" href="#" data-bind="attr: { href: download_url }">
					Download .xml
				</a>
			} else {
				<a class="install button" href="@info.InstallUrl" data-bind="if: app_compatible">
					Add to <span data-bind="text: app_name">Firefox</span>
				</a>
				<a class="convert button" href="#" data-bind="if: convertible, attr: { href: converter_url }">
					Convert Add-on
				</a>
				<a class="download button" href="@info.DownloadUrl" data-bind="if: app_compatible() || convertible()">
					Download .xpi
				</a>
				<div class="not-compatible" data-bind="if: !app_compatible() && !convertible()">
					This add-on is not compatible with your version of <span data-bind="text: app_name">Firefox</span>.<br />
					<a href="@info.DownloadUrl">
						Download anyway
					</a>
				</div>
			}
		</div>
		<div class="version-main">
			<div class="version-header">
				Version
				<span>@info.Version.version</span>
				<span class="tags">
					@if (!info.ExtendedFileInfo.bootstrapped && !info.File.is_webextension) {
						<span style="background-color: darkgreen">Restart Required</span>
					}
					@if (info.ExtendedFileInfo.bootstrapped && !info.ExtendedFileInfo.jetpack) {
						<span data-bind="if: bootstrapped && !jetpack" style="background-color: green">Restartless</span>
					}
					@if (info.ExtendedFileInfo.jetpack) {
						<span data-bind="if: jetpack" style="background-color: darkcyan">Jetpack</span>
					}
					@if (info.ExtendedFileInfo.has_webextension) {
						<span data-bind="if: has_webextension" style="background-color: red">WebExtensions</span>
					}
				</span>
			</div>
			<div class="released" data-bind="text: released_display"></div>
			<div class="compatibility">@string.Join(", ", info.CompatibilityDisplay())</div>
			<div class="license">
				<a href="@info.Version.license.url">@info.Version.license.name</a>
			</div>
			<!-- ko if: $root.release_notes_shown -->
			<div class="release_notes">@Html.Raw(info.Version.release_notes)</div>
			<!-- /ko -->
		</div>
	</div>
}